  <div class="modal-dialog modal-dialog-devise" role="document">
    <div class="modal-content modal-content-devise">

      <div class="modal-header">
        <h2 class="devise-h2 text-center">Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'email', placeholder: "email", input_html: { class: "form-input" } %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false,  inline_label: true, label: false, inline_label: 'password', placeholder: "password", input_html: { class: "form-input" } %>
            <%= f.input :password_confirmation, required: false, inline_label: true, label: false, inline_label: 'password confirmation', placeholder: "password confirmation", input_html: { class: "form-input" } %>

            <hr>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, placeholder: "current password", inline_label: true, label: false, inline_label: 'current password',input_html: { class: "form-input" } %>
          </div>

          <div class="form-actions form-actions-devise">
            <%= f.button :submit, "Update", class: "btn-confirm"%>
            <p class="actions-inline">or</p>
            <p class="actions-inline"><%= link_to "Back", :back, class: "text-link" %></p>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
          <%= link_to "Forgot your password?", "#forgot_password", "data-toggle" => "modal", class: "text-link" %><br />
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-link" %></p>
      </div>
    </div>
  </div>

