<div class="newsfeed-edit-user">
    <div class="modal-dialog modal-dialog-devise" role="document">
      <div class="modal-content modal-content-devise">

        <div class="modal-header">
          <h2 class="devise-h2 text-center">Sign Up</h2>
          <p class="text-center">You are just one step away from revolutioning your way of liking everything</p>
        </div>
        <div class="modal-body">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to omniauth_authorize_path(resource_name, :facebook), class: "btn btn-primary btn-facebook" do %>
                 <i class="fa fa-facebook fa-2x fb-button" ></i> Sign in with <%= :facebook.to_s.titleize %>
               <% end %>
            <% end -%>
          <% end -%>
          <div class="signup-or-separator">
            <span class="signup-or-separator--text">or</span>
            <hr>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="form-inputs text-center">
              <%= f.input :first_name, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "first name", input_html: { class: "form-input" } %>
              <%= f.input :last_name, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'last name', placeholder: "last name", input_html: { class: "form-input" } %>
              <%= f.input :email, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'email', placeholder: "email", input_html: { class: "form-input" } %>
              <%= f.input :password, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'password', placeholder: "password", input_html: { class: "form-input" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'password confirmation', placeholder: "Password confirmation", input_html: { class: "form-input" } %>
            </div>
            <div class="form-actions form-actions-devise devise-h2 text-center">
              <%= f.button :submit, "Sign up", class: "btn-confirm"  %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer modal-footer-devise text-center">
          <%= link_to "Already have an account? Log in", "#login", "data-toggle" => "modal" %>
        </div>
      </div>
    </div>
  </div>

</div>
