<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <div class="text-center ">
       <ul class="category-tabs list-unstyled">
         <li>
           <%= link_to "All", root_path(:anchor => "cat-newsfeed-all"), class: "navbar-wagon-button btn post-category", id:"all-cat" %>
         </li>
         <li>
           <%= link_to root_path(:anchor => "cat-newsfeed-charity"), class: "navbar-wagon-button btn post-category", id:"charity-cat" do %>
             <i class="fa fa-globe"></i> Charity
           <% end %>
         </li>
         <li>
           <%= link_to root_path(:anchor => "cat-newsfeed-food"), class: "navbar-wagon-button btn post-category", id:"food-cat" do %>
             <%= image_tag("recipe.png", width: '16px', color: 'white', class: 'icon-recipe') %> Food
           <% end %>
         </li>
         <li>
           <%= link_to root_path(:anchor => "cat-newsfeed-lifestyle"), id: "lifestyle-cat", class: "navbar-wagon-button btn post-category" do %>
             <i class="fa fa-newspaper-o"></i> Lifestyle
           <% end %>
         </li>
         <li>
           <%= link_to root_path(:anchor => "cat-newsfeed-travel"), id: "travel-cat", class: "navbar-wagon-button btn post-category" do %>
             <%= image_tag("palm.png", width: '16px', height: '20px', class: 'icon-palm') %> Travel
           <% end %>
         </li>
       </ul>
     </div>
    </div>
  </div>
</div>





<div class="scrollable">
  <!-- Attention : les id activities ont été enlevé des 6tabs suivantes!  -->
  <div id="cat-newsfeed-all">
    <%= render 'posts/posts_list', posts: posts %>
  </div>

  <div id="cat-newsfeed-charity">
    <%= render 'posts/posts_list', posts: posts.where(interest: 'Charity') %>
  </div>

  <div id="cat-newsfeed-food">
    <%= render 'posts/posts_list', posts: posts.where(interest: 'Food') %>
  </div>

  <div id="cat-newsfeed-lifestyle">
    <%= render 'posts/posts_list', posts: posts.where(interest: 'Lifestyle') %>
  </div>

  <div id="cat-newsfeed-travel">
    <%= render 'posts/posts_list', posts: posts.where(interest: 'Travel') %>
  </div>

  <div id="infinite-scrolling-all" class="infinite-scrolling">
    <%= will_paginate posts%>
  </div>
  <div id="infinite-scrolling-charity" class="infinite-scrolling">
    <%= will_paginate posts.where(interest: 'Charity')%>
  </div>
  <div id="infinite-scrolling-food" class="infinite-scrolling">
    <%= will_paginate posts.where(interest: 'Food')%>
  </div>
  <div id="infinite-scrolling-lifestyle" class="infinite-scrolling">
    <%= will_paginate posts.where(interest: 'Lifestyle')%>
  </div>
  <div id="infinite-scrolling-travel" class="infinite-scrolling">
    <%= will_paginate posts.where(interest: 'Travel')%>
  </div>
</div>






<!-- ---------------------------------------------------------------------------------------- -->
<!-- JAVASCRIPT FOR TABS  -->
<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $('ul.category-tabs').each(function(){
      // For each set of tabs, we want to keep track of
      // which tab is active and its associated content
      var $active, $content, $links = $(this).find('a');

      // If the location.hash matches one of the links, use that as the active tab.
      // If no match is found, use the first link as the initial active tab.
      $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
      $active.addClass('active');

      $content = $($active[0].hash);

      // Hide the remaining content
      $links.not($active).each(function () {
        $(this.hash).hide();
      });

      // Bind the click event handler
      $(this).on('click', 'a', function(e){
        // Make the old tab inactive.
        $active.removeClass('active');
        $content.hide();

        // Update the variables with the new link and content
        $active = $(this);
        $content = $(this.hash);

        // Make the tab active.
        $active.addClass('active');
        $content.show();

        // Prevent the anchor's default click action
        e.preventDefault();
      });
    });
  <% end %>
<% end %>
