<div class="modal-dialog modal-dialog-devise" role="document">
  <div class="modal-content modal-content-devise">

    <div class="modal-header">
      <h2 class="devise-h2 text-center">Edit Profile</h2>
    </div>
    <div class="modal-body">
      <%= form_for @user do |f| %>
        <div class="form-inputs text-center">
          <%= f.label :picture %>
          <br>
          <%= image_tag (@user.picture ? @user.picture : @user.picture.url(:thumb)), class: "avatar-info", alt: "user-picture" %>
          <br>
          <%= f.file_field :picture, class: "text-center" %>
          <br>
        </div>
        <div class="form-inputs text-center">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, placeholder: 'First Name', class: "form-input" %>
        </div>
        <br>
        <div class="form-inputs text-center">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-input" %>
        </div>
        <br>
        <div class="form-inputs text-center">
          <%= f.label :about %>
          <%= f.text_area :about, placeholder: 'About', class: "form-input" %>
        </div>
        <div class="form-actions form-actions-devise devise-h2 text-center">
          <%= submit_tag 'Save change', class: 'btn-confirm' %>
          or
          <%= link_to "Back", :back %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to edit_user_registration_path do %>
        Change your password
      <% end %>
      <% end -%>
    </div>
  </div>
</div>
