<div class="newsfeed-edit-user">
  <div class="modal-dialog modal-dialog-devise" role="document">
    <div class="modal-content modal-content-devise">

      <div class="modal-header">
        <h2 class="devise-h2 text-center">Edit Profile</h2>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs text-center margin-bottom">
            <%= image_tag (@user.picture  ? @user.picture : @user.picture.url(:thumb)), class: "avatar-info relative", alt: "user-picture" %>
          </div>

          <div class="form-inputs">
            <%= f.input :first_name, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "first name", input_html: { class: "form-input" }, required: false %>
            <%= f.input :last_name, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "last name", input_html: { class: "form-input" }, required: false %>
            <%= f.input :email, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "email", input_html: { class: "form-input" }, required: false %>
            <%= f.input :about, :as => :text, autofocus: true, inline_label: true, label: false, inline_label: 'about', placeholder: "About", input_html: { class: "form-input", :maxlength => 150 }, required: false %>
          </div>
          <div class="form-inputs text-center text-link">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to edit_user_registration_path do %>
              Change your password
            <% end %>
            <% end %>
            <br>
          </div>
          <div class="form-actions text-center">
            <br>
            <%= f.button :submit, "Update", class: "actions-inline btn-confirm"  %>
            <p class="actions-inline">or</p>
            <%= link_to "Back", :back, class: "text-link" %>
            <br><br>
            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "text-link" %></p>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>


</div>
