<div class="modal-dialog modal-dialog-devise" role="document">
  <div class="modal-content modal-content-devise">

    <div class="modal-header">
      <h2 class="devise-h2 text-center">Edit Profile</h2>
    </div>
    <div class="modal-body">
      <%= form_for @user do |f| %>
        <div class="form-inputs text-center margin-bottom">
          <div class="relative">
            <%= image_tag (@user.picture + "?type=large" ? @user.picture + "?type=large" : @user.picture.url(:thumb)), class: "avatar-info relative", alt: "user-picture" %>
            <div class="navbar-wagon-item pull-right-picture">
              <div class="dropdown">
                <i class="fa fa-2x fa-camera btn-edit" aria-hidden="true" class= "avatar dropdown-toggle", id= "navbar-wagon-menu", data-toggle= "dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li>
                    <%= f.file_field :picture, class: "text-center" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= simple_form_for @user do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "first name", input_html: { class: "form-input" } %>
          <%= f.input :last_name, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "last name", input_html: { class: "form-input" } %>
          <%= f.input :email, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "email", input_html: { class: "form-input" } %>
          <%= f.input :about, :as => :text, autofocus: true, inline_label: true, label: false, inline_label: 'about', placeholder: "About", input_html: { class: "form-input" } %>
        </div>
        <div class="form-inputs text-center text-link">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to edit_user_registration_path do %>
            Change your password
          <% end %>
          <% end -%>
          <br>
        </div>
        <div class="form-actions text-center">
          <br>
          <%= f.button :submit, "Update", class: "actions-inline btn-confirm"  %>
          <p class="actions-inline">or</p>
          <%= link_to "Back", :back, class: "text-link" %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
