<div class="container total-width">
  <div class="row">
    <div class="col-xs-hidden col-md-3">
      <div class="user-info">
        <div class="user-info-about">
          <% if is_current_user?(@user) %>
            <!-- Profile picture and dropdown -->
            <div class="navbar-wagon-item edit-user-info">
              <div class="dropdown">
                <i class="fa fa-pencil btn-edit" aria-hidden="true" class= "avatar dropdown-toggle", id= "navbar-wagon-menu", data-toggle= "dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li>
                    <%= link_to edit_user_path(current_user) do %>
                      <i class="fa fa-user"></i> Edit profile
                    <% end %>
                  </li>
                  <li>
                    <%= link_to edit_user_registration_path do %>
                      <i class="fa fa-cog"></i> Change your password
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>

          <%= image_tag (@user.picture + "?type=large" ? @user.picture + "?type=large" : @user.picture.url(:thumb)), class: "avatar-info", alt: "user-picture" %>
          <h3> <%= @user.first_name %> <%= @user.last_name %></h3>
          <p><%= @user.about %></p>

          <div class="user-info-flykke-section text-center">
            <div class="btn-flykke-section">
              <div class="btn-flykke">
                <%= image_tag("logo-hand.png", :alt => "bird", :class => "logo-mini") %>
              </div>
              <% if @user.posts != nil %>
                <h1 class="btn-flykke-user-count"><%= @user.number_of_flykkes_received %></h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-9">
      <div class="user-info-nav text-center">
        <ul class="tabs list-unstyled">
          <li role="presentation" class="actions-inline">
            <%= link_to user_path(@user, :anchor => "tab1"), class: "btn-user-cat" do %>
              Personnal catalog
            <% end %>
          </li>
          <li role="presentation" class="actions-inline">
            <%= link_to user_path(@user, :anchor => "tab2"), class: "btn-user-cat" do %>
              Creations
            <% end %>
          </li>
        </ul>
      </div>
      <div id="tab1">
        <%= render 'shared/interests/interest_catalog', user: @user %>
      </div>


      <div id="tab2">
        <%= render 'shared/interests/interest_creations', user: @user %>
      </div>
    </div>
  </div>
</div>









<!--
    $('.post-category').removeClass('btn-primary');
    $(this).addClass('btn-primary'); -->

<!-- ---------------------------------------------------------------------------------------- -->
<!-- JAVASCRIPT FOR TABS  -->
<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $('ul.tabs').each(function(){
      // For each set of tabs, we want to keep track of
      // which tab is active and its associated content
      var $active, $content, $links = $(this).find('a');

      // If the location.hash matches one of the links, use that as the active tab.
      // If no match is found, use the first link as the initial active tab.
      $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
      $active.addClass('active');

      $content = $($active[0].hash);

      // Hide the remaining content
      $links.not($active).each(function () {
        $(this.hash).hide();
      });

      // Bind the click event handler
      $(this).on('click', 'a', function(e){
        // Make the old tab inactive.
        $active.removeClass('active');
        $content.hide();

        // Update the variables with the new link and content
        $active = $(this);
        $content = $(this.hash);

        // Make the tab active.
        $active.addClass('active');
        $content.show();

        // Prevent the anchor's default click action
        e.preventDefault();
      });
    });
  <% end %>
<% end %>


<!-- user info card :
see infos (picture, name, description, etc.)
possibility to follow / unfollow
see followers / following people
see number of flykkes given / received
see social links of the user

Personal catalog
browse by category / list
see posts flykked by user (if post not flykked be current_user, possibility to flykke them)
@user.find_liked_items(:vote_scope => 'flykke')

Catalog of user's creations
browse by category  -->

              <!-- see list of people you follow  -->
              <!-- @user.all_following -->

              <!-- see list of people who follow you  -->
        <!--       @user.all_follows  -->


