<div class="modal-dialog modal-dialog-devise" role="document">
  <div class="modal-content modal-content-devise">

    <div class="modal-header">
      <h2 class="devise-h2 text-center">Change your password</h2>
    </div>
    <div class="modal-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs text-center">
          <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        </div>

        <div class="form-actions form-actions-devise devise-h2 text-center">
          <%= f.button :submit, "Change my password" %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer text-center">
      <%= link_to "Login", "#login", "data-toggle" => "modal" %> <br>
      <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal" %>
    </div>
  </div>
</div>

