<div class="modal-dialog modal-dialog-devise" role="document">
  <div class="modal-content modal-content-devise">

    <div class="modal-header">
      <h2 class="devise-h2 text-center">Forgot your password?</h2>
    </div>
    <div class="modal-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs text-center">
          <%= f.input :email, required: true, autofocus: true, inline_label: true, label: false, inline_label: 'first name', placeholder: "email", input_html: { class: "form-input" } %>
        </div>

        <div class="form-actions form-actions-devise devise-h2 text-center">
          <%= f.button :submit, "Send me reset password instructions", class: "btn-confirm" %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer text-center">
      <%= link_to "Login", "#login", "data-toggle" => "modal" %> <br>
      <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal" %>
    </div>
  </div>
</div>



