<!--  THE FLYKKE'S POST STRUCTURE  -->
<div class="media-margin">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="media">
        <div class="media-body">
          <%= link_to post.url, :target => "_blank", class: "media-link" do %>
            <section class="media-section relative">
               <h2><%= post.title %> <span class="label label-primary pull-right interest-tag"><%= post.interest %></h2></span>
               <h4><i class="fa fa-clock-o"></i> <%= time_ago_in_words(post.created_at) %> ago</h4>
            </section>
            <section class="media-section">
              <% if  post.video != nil %>
                <%= post.video %>
              <% elsif post.video == "" %>
                <img src="<%= post.graphic_content %>" alt="post-image" class="post-img img-responsive">
              <% else %>
                <img src="<%= post.graphic_content %>" alt="post-image" class="post-img img-responsive">
              <% end %>
            </section>
            <section class="media-section">
              <h3 class="description-limit"><%= post.description %></h3>
              <% if post.site_name? %>
                <h4><%= post.site_name %></h4>
              <% else %>
                <h4><%= post.url %></h4>
              <% end %>
            </section>
          <% end %>
        </div>

        <!-- media-aside / Flykke and Creator section -->
        <div class="media-aside">
          <!-- delete -->
          <% if current_user == post.user %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "media-btn-delete" do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          <% end %>

          <!-- Creator's Profile-section -->
          <section class="media-section text-center">
            <img src="<%= post.user.picture %>" alt="user-picture" class="media media-profile-picture result-img img-responsive">
            <div style="margin-top:10px;">
              <h1 style="display:inline;">By</h1>
              <%= link_to user_path(post.user), class: "media-user-link" do %>
                <%= post.user.first_name %> <%= post.user.last_name %>
              <% end %>
            </div>
            <div id="media-about">
              <p><%= post.user.about %></p>
              <!--       I use to design websites and applications
              for the web. -->
            </div>
          </section>
      <!-- Flykkes Section  -->
          <%= render 'likes/form', post: post %>
          <%= render 'shared/sharebar', post: post %>
        </div>
      </div>
    </div>
  </div>
</div>





