<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Flykke" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Flykke is a social platform to discover and help support content creators and charities concretely & freely thanks to a smart system of advertisement display" %>">
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href='/assets/webfontkit-arista2.0/_index.scss' rel='stylesheet' type='text/css' charset='utf-8'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Varela+Round' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="background">
      <%= render 'shared/navbar' %>
      <%= render 'welcome/sign_up_modal' %>
      <%= render "welcome/login_modal" %>
      <%= render "welcome/forgot_password_modal" %>
      <%= render "contacts/contact_modal" %>
      <%= render "posts/create_modal" %>
      <%= render "posts/register_modal" %>


      <div id="newsfeed">
        <%= render 'shared/flashes' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>
        <%= yield(:after_js) %>
      </div>
    </div>



  </body>
</html>
